.card {
    border: 1px solid #42B983; 
    background-color: #0C0032; 
    color: white; 
    width: 100%;
    min-width: 300px;
    max-width: 500px;
    margin: 0 auto; /* Centers the card */
  }
button{
    color:#42B983;
    border-color: #42B983;
}

  button:hover{
    color: #FFD166 !important; 
    text-shadow: 0 0 5px #FFD166;
    background-color: #2D1E5F;
  }


  /*  Adds a green shadow on the card when hover */
  .card:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 15px rgba(66, 185, 131, 0.5); 
  }

  