<div class="card mb-3">
    <div class="row g-0">  
      <!-- Image to the left -->
      <div class="col-md-5">
        <img 
          src="https://rickandmortyapi.com/api/character/avatar/1.jpeg" 
          class="img-fluid rounded-start" 
          alt="Rick Sanchez"
        >
      </div>
      
      <!-- text to the right -->
      <div class="col-md-7">
        <div class="card-body">
          <h5 class="card-title">Rick Sanchez</h5>
          <p class="card-text">
            <strong>Status:</strong> Alive<br>
            <strong>Species:</strong> Human<br>
            <strong>Origin:</strong> Earth (C-137)
          </p>
          <button class="btn btn-sm ">View Episodes</button>
        </div>
      </div>
    </div>
  </div>