.card {
    border: 1px solid #42B983; 
    background-color: #0C0032; 
    color: white; 
    width: 45%;
  }
button{
    color:#42B983;
    border-color: #42B983;
}

  button:hover{
    color: #FFD166 !important; 
    text-shadow: 0 0 5px #FFD166;
    background-color: #2D1E5F;
  }