<div class="card h-100">
  <div class="row g-0 h-100">
    <div class="col-lg-5 col-md-12">
      <img 
        [src]="character.image" 
        class="img-fluid rounded-start h-100 w-100"
        style="object-fit: cover; min-height: 200px;"
        [alt]="character.name"
      >
    </div>


    <div class="col-lg-7 col-md-12 d-flex flex-column">
      <div class="card-body">
        <h5 class="card-title">{{ character.name }}</h5>
        <p class="card-text">
          <strong>Status:</strong> {{ character.status }}<br>
          <strong>Species:</strong> {{ character.species }}<br>
          <strong>Origin:</strong> {{ character.origin?.name || 'Unknown origin' }}
        </p>
      </div>

      <!-- Buttons -->
      <div class="card-footer bg-transparent border-portal mt-auto" *ngIf="!hideButtons">
        <!-- View Episodes-->
        <button class="btn btn-portal w-100 mb-2" (click)="openEpisodesModal()">
          View Episodes
        </button>
        <!-- Add / Remove from favourites -->
        <button class="btn btn-outline-warning w-100" (click)="toggleFavourite()">
          {{ isFavourited ? 'Remove from Favourites' : 'Add to Favourites' }}
        </button>
      </div>

    </div>
  </div>
</div>

<!-- Popup Modal to show episodes -->
<div *ngIf="showEpisodesModal" class="modal-overlay">
  <div class="modal-box">
    <div class="modal-header">
      <h5 class="mb-0">{{ character.name }}'s Episodes</h5>
      <button class="btn-close" (click)="showEpisodesModal = false">&times;</button>
    </div>
    <div class="modal-body">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let ep of character.episode">
          Episode {{ ep.split('/').pop() }}
        </li>
      </ul>
    </div>
    <div class="text-end mt-3">
      <button class="btn " (click)="showEpisodesModal = false">Close</button>
    </div>
  </div>
</div>
