
<nav class="navbar navbar-expand-lg bg-body-tertiary custom-navbar">
  <div class="container-fluid">
      <!-- Change logo link to /home -->
      <a class="navbar-brand" id="logo" routerLink="/home">
          <img src="logo.jpeg" class="logo" alt="logo">
      </a>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/characters" routerLinkActive="active">Characters</a>
              </li>
              <li class="nav-item">

                  <a class="nav-link" routerLink="/episodes" routerLinkActive="active">Episodes</a>
              </li>
          </ul>
      </div>
  </div>
</nav>