<div class="container-fluid">
  <h1 class="text-center my-4 text-white">Rick and Morty Episodes</h1>

 <!-- Filter Bar -->
 <div class="filter-container mb-4 p-3 rounded d-flex flex-wrap align-items-center gap-3">
  <label for="seasonSelect" class="mb-0 text-white">Season:</label>
  <select
    #seasonSelect
    id="seasonSelect"
    class="form-select form-select-sm w-auto"
    (change)="filterBySeason(seasonSelect.value)"
  >
    <option value="">All </option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>

  <label for="sortSelect" class="mb-0 text-white">Sort:</label>
  <select
    #sortSelect
    id="sortSelect"
    class="form-select form-select-sm w-auto"
    (change)="sortEpisodes(sortSelect.value)"
  >
    <option value="">—</option>
    <option value="newest">Newest→Oldest</option>
    <option value="oldest">Oldest→Newest</option>
  </select>

  <button
    class="btn btn-outline-light btn-sm ms-auto"    (click)="resetFilters()">
    Clear
  </button>
</div>




  <!-- Loading state -->
  <div *ngIf="loading" class="text-center text-white mb-3">
    Loading episodes...
  </div>

  <!-- Error -->
  <div *ngIf="error" class="text-danger text-center mb-3">
    {{ error }}
  </div>

<!-- Filtering the view for when a season is selected-->
<div *ngIf="selectedSeason && episodeRows.length">
  <h2 class="text-center text-white mb-4">
    Season {{ selectedSeason }} Episodes
  </h2>

  <div class="row" *ngFor="let row of episodeRows">
    <div class="col-md-4 mb-4" *ngFor="let ep of row">
      <app-episode-card *ngIf="ep" [episode]="ep"></app-episode-card>
    </div>
  </div>
</div>





  <!-- Full view with virtual scroll -->
  <div *ngIf="!selectedSeason">
    <h2 class="text-center p-2 text-white">All Episodes</h2>
    <cdk-virtual-scroll-viewport
      itemSize="200"
      class="viewport"
      (scrolledIndexChange)="onScrolledIndexChange($event)">
      <div class="row" *cdkVirtualFor="let row of episodeRows">
        <div class="col-md-4 mb-4" *ngFor="let episode of row">
          <app-episode-card [episode]="episode"></app-episode-card>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
</div>
