<div class="container my-4 text-white">
    <h2 class="text-center mb-4">My Favourites</h2>
  
    <div *ngIf="loading" class="text-center">Loading...</div>
    <div *ngIf="error" class="text-danger text-center">{{ error }}</div>
  
    <div *ngIf="!loading && favourites.length === 0" class="text-center">
      <p>No favourites yet.</p>
    </div>
  
    <div class="row" *ngIf="favourites.length > 0">
      <div class="col-md-4 mb-4" *ngFor="let fav of favourites">
        <app-card [character]="fav" [isFavourited]="true"  [hideButtons]="true" ></app-card>  <!-- isFavourited is true-->
      </div>
    </div>
  </div>
  