/* Custom Rick and Morty Colors */
.border-portal {
    border-color: #42B983 !important;
    border-width: 2px !important;
  }
  
  .btn-portal {
    background-color: #42B983;
    color: #0C0032;
    border: none;
  }
  
  .btn-portal:hover {
    background-color: #3aa876;
    box-shadow: 0 0 10px #42B983;
  }
  
  .btn-outline-morty {
    color: #FFD166;
    border-color: #FFD166;
  }
  
  .btn-outline-morty:hover {
    background-color: rgba(255, 209, 102, 0.1);
  }