<app-hero-section></app-hero-section>



<div class="container my-5 text-center">
  <h2 class="text-white mb-4">Rick and Morty Universe Stats</h2>
  <div class="row g-4">
    <div class="col-md-3">
      <div class="stat-box p-4 rounded text-center">
        <h3 class="text-portal">826</h3>
        <p class="text-white">Characters</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="stat-box p-4 rounded text-center">
        <h3 class="text-portal">126</h3>
        <p class="text-white">Locations</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="stat-box p-4 rounded text-center">
        <h3 class="text-portal">51</h3>
        <p class="text-white">Episodes</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="stat-box p-4 rounded text-center">
        <h3 class="text-portal">Countless</h3>
        <p class="text-white">Adventures</p>
      </div>
    </div>
  </div>
</div>

